*{
    background-color: #86af49;
}

h1{
    text-align: center;
    font-weight: bold;
}

.destacados{
    background-color: yellow;
}

#contacto{
    font-style: italic;
}

.form{
    text-align: center;
}

.form_title{
    font-style: italic;
}